
.content, .form-content {
	font-family: 'Lucida Console';
	letter-spacing: 2px;
  	box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
	padding: 50px;

}

.content {
	background-color: #404040;
	color: #f3f3f3;
}

.form-content {
	background-color: #f3f3f3;
	color: #262626;
}

.infoForm {
	padding: 20px 30px 50px 30px;
	background-color: #f3f3f3;
	max-height: 60%;
  	box-shadow: 1px 2px 1px 1px rgba(0, 0, 0, 0.1);
}

.infoForm:hover {

	margin-top: -10px;
	margin-bottom: 10px;
}

.btn-extra {
	background-color: #272822;
	color: #fff;
}


.brandImg {
	height: 30px;
}

.imgWrap {
	max-width: 60px;
}

.btn-extra {
	background-color: #272822;
	color: #fff;
}
