
<app-nav-list currentLink="{{ link }}"></app-nav-list>

<div class="container">
	
	<app-title title="Contact"></app-title>
</div>

<div class="content">
	<div class="container text-center">
		<h3> Contact Link </h3>
		<br>
		<div class="row justify-content-center">
			<div class="col-lg-4  col-md-6 col-sm-12">
				<a href="https://github.com/karshh" title="https://github.com/karshh">
					<div class="infoForm text-center">
						<p>
							<img class="brandImg" src="../../assets/img/GitHub.png" alt="">
						</p>
					</div>
				</a>
			</div>
			<div class="col-lg-4 col-md-6 col-sm-12">
				<a href="mailto:usharma_@live.com" title="usharma_@live.com">
					<div class="infoForm text-center">
						<p>
							<img class="brandImg" src="../../assets/img/Mail.png" alt="">
						</p>
					</div>
				</a>
			</div>
			<div class="col-lg-4  col-md-6 col-sm-12">
				<a href="https://www.linkedin.com/in/karshsharma/" title="https://www.linkedin.com/in/karshsharma/">
					<div class="infoForm text-center">
						<p>
							<img class="brandImg"  src="../../assets/img/LinkedIn.png" alt="">
						</p>
					</div>
				</a>
			</div>
		</div>
	</div>
</div>
<div class="form-content">

	<div class="container">
		<div class="col-lg-8 col-md-8 col-sm-12">
			<h4><strong>Contact Form</strong></h4>
			<br>

			<form [formGroup]="contactForm" (ngSubmit)="onSubmit()">

				<pre>{{contactForm.value | json}}</pre>
				<pre>Valid? {{ contactForm.controls.name.valid }}</pre>
				<pre>Valid? {{ contactForm.controls.email.valid }}</pre>
				<pre>Valid? {{ contactForm.controls.subject.valid }}</pre>
				<pre>Valid? {{ contactForm.controls.message.valid }}</pre>

		      	<div  class="form-group">
			        <label for="name">Name</label>
			        <input 	type="text" 
			        		class="form-control"
			        		id="name" 
							[formControl]="name" 
							[ngClass]="{
							  'has-danger': name.invalid && name.dirty,
							  'has-success': name.valid && name.dirty
							}"
			        		required>
					<div class="" *ngIf="name.errors && (name.dirty || name.touched)">
					  	<font color="red"><small *ngIf="name.errors.required"> *Name is required</small></font>
					</div>			
		      	</div>
				<div class="form-group">
					<label 	for="email">Email</label>
					<input 	class="form-control" 
							type="email" 
							name="email"
							[formControl]="email" 
							required>
					<div class="" *ngIf="email.errors && (email.dirty || email.touched)">
					  	<font color="red"><small *ngIf="email.errors.required"> *Email is required<br></small>
					  	<small *ngIf="email.errors.email"> *Email must be valid type</small></font>
					</div>			
				</div>
				<div class="form-group">
					<label 	for="subject">Subject</label>
					<input 	class="form-control" 
							type="text" 
							name="subject"
							[formControl]="subject" 
							required>
					<div class="" *ngIf="subject.errors && (subject.dirty || subject.touched)">
					  	<font color="red"><small *ngIf="subject.errors.required"> *Subject is required</small></font>
					</div>			
				</div>
				<div class="form-group">
					<label 	for="message">Message</label>
					<textarea 	class="form-control" 
								name="message" 
								rows="4" 
								[formControl]="message"
								required></textarea>
					<div class="" *ngIf="message.errors && (message.dirty || message.touched)">
					  	<font color="red"><small *ngIf="message.errors.required"> *Message is required</small></font>
					</div>			
				</div>
				<app-submit-button></app-submit-button>
				<div class="" *ngIf="errMessage.length > 0">
				  	<font color="red"><small> * {{ errMessage }} </small></font>
				</div>	

			</form>
		</div>	
	</div>
</div>

<app-footer></app-footer>
