
.content {
	font-family: 'Bookman Old Style';
	letter-spacing: 2px;
	background-color: #f3f3f3;
  	box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
	padding: 50px;

}

.infoForm {
	padding: 20px 30px 20px 30px;
	background-color: white;
	height: 60%;
  	box-shadow: 1px 2px 1px 1px rgba(0, 0, 0, 0.1);
}

.btn-extra {
	background-color: #272822;
	color: #fff;
}

.brand {
	width: 80px;
}