
.content {
	font-family: 'Bookman Old Style';
	letter-spacing: 2px;
	background-color: #f3f3f3;
  	box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
	padding: 50px;

}

.btn-extra {
	background-color: #272822;
	color: #fff;
}