

<app-nav-list currentLink="{{ link }}"></app-nav-list>

<!-- Vector images have been created by D3images - Freepik.com -->
<div class="dashboard">
	
	<div class="row justify-content-center">
		<div class="panel">
			<p><strong>{{today | date:'longDate'}}</strong></p>
			<p>{{today | date:'shortTime'}} MT</p>
		</div>

		<div  *ngIf="isWeatherLoaded()" class="panel">
			<p>{{ getCurrentWeatherData() }}<sup>o</sup>C</p>

			<div>
				<table>
					<tr>
				    	<th>Firstname</th>
				    	<th>Lastname</th> 
				    	<th>Age</th>
				  	</tr>
				  	<tr>
				    	<td *ngFor="let data of getHourlyWeatherData()">{{ data }}<sup>o</sup>C</td>
				  	</tr>
				</table>
			</div> 
			
		</div>
	</div>


</div>
