
.dashboard {
	background-color: #404040;
	color: #f3f3f3;
	text-shadow: rgba(0,0,0,0.5);
	padding-top: 50px;
	font-family: 'Lucida Console';
}

.middleContent {
	padding-top: 30px;
	padding-bottom: 30px;
	background-color: rgba(0,0,0,0.4);
}

.middleLeftContent {

	background-color: white;
}

.middleRightContent {
	
	background-color: rgba(0,0,0,0.8);
}
.panel {
	/*border-radius: 50%;*/
	padding: 15px;
	margin: 10px;
	background-color: #FFF;
	border-color: #FFF;
  	box-shadow: 4px 4px 4px 2px rgba(0, 0, 0, 0.3);
  	color: rgba(0, 0, 0, 0.8);
}

