
.jumbotron-extra {
	/*color: rgba(255, 255, 255, 0.8);*/
	padding-top: 50px;
	font-family: 'Lucida Console';
}

.jumbotron-extra a {
	text-decoration: none;
}

.middleContent {
	padding-top: 30px;
	padding-bottom: 30px;
	background-color: #f3f3f3;
}

.circle {
	/*border-radius: 50%;*/
	padding: 30px;
	margin: 20px;
	min-height: 30px;
	min-width: 30px;
	background-color: #fff;
  	box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
}

