

<app-nav-list currentLink="{{ link }}"></app-nav-list>

<div class="topContent">
	<div class="container justify-content-center">

			<div class="text-center">
				<h3>&#123; name = Karsh &#125;</h3>
				<br>
				<p> Welcome to my corner. </p>
				<p> Here, I document my journey dedicated to excelling as a full-stack developer.</p>
				<p> Check out my 
					<a href="https://www.linkedin.com/in/karshsharma">linkedin</a> and 
					<a href="https://github.com/karshh">github</a> profile. </p>
				<br>
				<div class="row">
					
					<div class="col-lg-4 col-md-4 col-sm-12">
						<p><i class="fa fa-map-marker"></i> Calgary, AB</p>
					</div>
					<div class="col-lg-4 col-md-4 col-sm-12">
						<p><i class="fa fa-clock-o"></i> {{ getClock() | date:'shortTime'}} MT </p>
					</div>
					<div class="col-lg-4 col-md-4 col-sm-12">
						<p><i class="fa fa-thermometer-2"></i> 
							<span *ngIf="!isWeatherLoaded()"><img src="../assets/img/loading.gif" /></span>
							<span *ngIf="isWeatherLoaded()">{{ getCurrentTemperature() }}&deg;C</span> 
						</p>
					</div>
				</div>
				<br><br>

				<img draggable="false" (dragstart)="false;" class="bannerImg" src="../assets/img/calgary.svg" />

			</div>
	</div>
</div>
<div class="middleContent">
	<div class="container">
		
		<div class="row justify-content-center">
			<div class="col-lg-8 col-md-7 col-sm-12">
				<p><i class="fa fa-check"></i> Angular 5.0</p>
				<p><i class="fa fa-check"></i> Bootstrap 4.0</p>
				<p><i class="fa fa-check"></i> Component oriented architecture.</p>
				<p><i class="fa fa-check"></i> Utilization of real-time services through IoC.</p>
				<p><i class="fa fa-check"></i> REST API interaction using Observables.</p>
				<p><i class="fa fa-check"></i> Angular Google Maps plugin.</p>
				<br><br>
			</div>
			<div class="col-lg-4 col-md-5 col-sm-8 text-center">
				<div class="ngPanel">
					<img src="ngImg" src="../assets/img/angular.svg" />
				</div>
			</div>
		</div>
		<br><br>
	</div>
</div>
<app-footer></app-footer>
