

<app-nav-list currentLink="{{ link }}"></app-nav-list>

<div class="topContent">
	<div class="container justify-content-center">

			<div class="text-center">
				<h3>&#123; name = Karsh &#125;</h3>
				<br>
				<p> Welcome to my corner. </p>
				<p> Here, I document my journey dedicated to excelling as a full-stack developer.</p>
				<p> Check out my 
					<a href="https://www.linkedin.com/in/karshsharma">linkedin</a> and 
					<a href="https://github.com/karshh">github</a> profile. </p>
				<br>
				<div class="row">
					
					<div class="col-lg-4 col-md-4 col-sm-12">
						<p><i class="fa fa-map-marker"></i> Calgary, AB</p>
					</div>
					<div class="col-lg-4 col-md-4 col-sm-12">
						<p><i class="fa fa-clock-o"></i> {{ getClock() | date:'shortTime'}} MT </p>
					</div>
					<div class="col-lg-4 col-md-4 col-sm-12">
						<p><i class="fa fa-thermometer-2"></i> 
							<span *ngIf="!isWeatherLoaded()"><img src="../assets/img/loading.gif" /></span>
							<span *ngIf="isWeatherLoaded()">{{ getCurrentTemperature() }}&deg;C</span> 
						</p>
					</div>
				</div>
				<br><br>

				<img class="bannerImg" src="../assets/img/calgary.svg" />

			</div>
	</div>
</div>
<br><br>
<div class="dashboard">
	
</div>
