<app-nav-list currentLink="{{ link }}"></app-nav-list>


<div class="topContent text-center">
	<h1> Hi, my name is Karsh. </h1>
	<br><br>
	<p> Welcome to my corner. </p>
	<p> Here, I document my journey dedicated to excelling as a full-stack developer.</p>
	<p> Check out my 
		<a href="https://www.linkedin.com/in/karshsharma">linkedin</a> and 
		<a href="https://github.com/karshh">github</a> profile. </p>

	<br><br>
</div>
<div class="content">
	<div class="row justify-content-center row-extra">
	<div class="container text-center">
			<h2> Web Development Background</h2>
			<br><br>
			<div class="row">
				<div class="col-lg-3 col-md-4 col-sm-6 col-extra">
					
					<div class="summary text-center">
						<h4> Introduction </h4>
						<hr>
						<p>HTML</p>
						<p>CSS/SASS</p>
					</div>

					<br><br>
				</div>

				<div class="col-lg-3 col-md-4 col-sm-6">
					
					<div class="summary text-center">
						<h4> Client </h4>
						<hr>
						<p>Javascript</p>
						<p>JQuery</p>
						<p>TypeScript</p>
					</div>
					<br><br>
				</div>


				<div class="col-lg-3 col-md-4 col-sm-6">
					
					<div class="summary text-center">
						<h4> Server </h4>
						<hr>
						<p>PHP</p>
						<p>Express</p>
					</div>
					<br><br>
				</div>

				<div class="col-lg-3 col-md-4 col-sm-6">
					
					<div class="summary text-center">
						<h4> Databases </h4>
						<hr>
						<p>MySQL</p>
						<p>PostgreSQL</p>
						<p>MongoDB</p>
					</div>
					<br><br>
				</div>


				<div class="col-lg-3 col-md-4 col-sm-6">
					
					<div class="summary text-center">
						<h4> Client Frameworks </h4>
						<hr>
						<p>Angular 4+</p>
						<p>Bootstrap</p>
					</div>
					<br><br>
				</div>

				<div class="col-lg-3 col-md-4 col-sm-6">
					
					<div class="summary text-center">
						<h4> Server Frameworks </h4>
						<hr>
						<p>Express</p>
						<p>Laravel</p>
					</div>
					<br><br>
				</div>


				<div class="col-lg-3 col-md-4 col-sm-6">
					
					<div class="summary text-center">
						<h4> Operating System </h4>
						<hr>
						<p>Windows OS</p>
						<p>Mac OSX</p>
						<p>Ubuntu</p>
						<p>CentOS</p>
					</div>
					<br><br>
				</div>


				<div class="col-lg-3 col-md-4 col-sm-6">
					
					<div class="summary text-center">
						<h4> Hosting </h4>
						<hr>
						<p>Amazon EC2</p>
						<p>Google Cloud</p>
					</div>
					<br><br>
				</div>

				<div class="col-lg-3 col-md-4 col-sm-6">
					
					<div class="summary text-center">
						<h4> Source Control </h4>
						<hr>
						<p>Github</p>
						<p>Bitbucket</p>
						<p>Gitlab</p>
					</div>
					<br><br>
				</div>
			</div>



		</div>
	</div>
	
	
</div>