

.bannerImg {
	max-width: 75%;
	padding-top: 20px;
	padding-bottom: 50px;
}

.contentPanel2 {
	padding: 50px;
	color: #f3f3f3;
	background-color: #404040;
  	box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
}

.col-extra {
	margin-bottom: 20px;
}


.content {
	font-family: 'LucidaConsole';
}

.contentPanel1 {
	padding: 2em 0;	
}

h2, h3, h4, h5 {
	line-height: 2em;
}
.contentPanel1 p, .contentPanel2 p {
	line-height: 25px;
}

