

.bannerImg {
	max-width: 75%;
	padding-top: 20px;
	padding-bottom: 50px;
}


.summary {
	padding: 20px 30px 5px 30px;
	background-color: white;
  	box-shadow: 1px 2px 1px 1px rgba(0, 0, 0, 0.1);
	color: #101010;
}

.summary p, .topcontent p {
	line-height: 8px;
}

.row-extra {
	padding: 50px;
	color: #f3f3f3;
	background-color: #262626;
  	box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
}

.col-extra {
	margin-bottom: 20px;
}


.content {
	font-family: 'Lucida Console';
}

.topcontent {
	padding-top: 2em;
}
