<app-nav-list currentLink="{{ link }}"></app-nav-list>

<div class="content">
	<div class="topcontent container">

		<div class=" text-center">

			
			<img class="bannerImg" src="../assets/img/heritageHall.svg" />
			
			<h2> Program </h2>
			<br>
			<p><i class="fa fa-graduation-cap"></i> SAIT </p>
			<p><i class="fa fa-certificate"></i> Web Developer </p>
			<p><i class="fa fa-calendar-o"></i> Jan. 2018 - April 2018 </p>
			

			<br>
			<br><br>


		</div>
		<br><br>
	</div>
	<div class="row justify-content-center row-extra">
	<div class="container text-center">
			<h2> Technical Summary </h2>
			<br><br>
			<div class="row justify-content-center">
				<div class="col-lg-3 col-md-4 col-sm-6 col-extra">
					
					<div class="summary text-center">
						<h5> Introduction </h5>
						<hr>
						<p>HTML</p>
						<p>CSS/SASS</p>
						<p>Javascript</p>
						<p>TypeScript</p>
					</div>

					<br>
				</div>

				<div class="col-lg-3 col-md-4 col-sm-6">
					
					<div class="summary text-center">
						<h5> Client </h5>
						<hr>
						<p>JQuery</p>
						<p>Angular 4+</p>
						<p>Bootstrap</p>
					</div>
					<br>
				</div>


				<div class="col-lg-3 col-md-4 col-sm-6">
					
					<div class="summary text-center">
						<h5> Server </h5>
						<hr>
						<p>PHP/Laravel</p>
						<p>Express</p>
					</div>
					<br>
				</div>

				<div class="col-lg-3 col-md-4 col-sm-6">
					
					<div class="summary text-center">
						<h5> Databases </h5>
						<hr>
						<p>MySQL</p>
						<p>PostgreSQL</p>
						<p>MongoDB</p>
					</div>
					<br>
				</div>

				<div class="col-lg-3 col-md-4 col-sm-6">
					
					<div class="summary text-center">
						<h5> Operating System </h5>
						<hr>
						<p>Windows OS</p>
						<p>Mac OSX</p>
						<p>Ubuntu</p>
						<p>CentOS</p>
					</div>
					<br>
				</div>


				<div class="col-lg-3 col-md-4 col-sm-6">
					
					<div class="summary text-center">
						<h5> Hosting </h5>
						<hr>
						<p>Amazon EC2</p>
						<p>Google Cloud</p>
					</div>
					<br>
				</div>

				<div class="col-lg-3 col-md-4 col-sm-6">
					
					<div class="summary text-center">
						<h5> Source Control </h5>
						<hr>
						<p>Github</p>
						<p>Bitbucket</p>
						<p>Gitlab</p>
					</div>
					<br>
				</div>
			</div>



		</div>
	</div>
	
	
</div>