.panelLinks {
    text-decoration: none;
    color: #202020;
}

.panel {
    margin-bottom: 10px;
    height: 100%;
    background-color: #404040;
    color: #f3f3f3;
	padding: 15px 20px 10px 20px;
  	box-shadow: 1px 2px 1px 1px rgba(0, 0, 0, 0.1);
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.content {
    padding-top: 20px;
}
