
.content, .trafficContent {
    padding-top: 20px;
}

.trafficContent {
    background-color: #202020;
    color: #f3f3f3;
}

agm-map {
   height: 500px;
   width: 500px;
 }

.trafficIncidentsMap {
    color: black;
 }