<div class="col-auto">
	<h4>{{ title }}</h4>
</div>
<div class="col-auto">
	<div class="row">
		<div *ngFor="let data of skillList" class="panel"><p>{{ data }}</p></div>
	</div>
</div>
<br>
<div class="col-auto">

	<p>
		<strong><i class="fa fa-calendar" aria-hidden="true"></i></strong> {{ timeLine }}
	</p>
	<p>
		<strong><i class="fa fa-github" aria-hidden="true"></i></strong> 
		<a href="https://{{ githubURL }}"  target="_blank"> {{ githubURL }}</a>
	</p>
	<p>
		<strong><i class="fa fa-sticky-note-o" aria-hidden="true"></i></strong> 
		<a href="https://{{ websiteURL }}" target="_blank"> {{ websiteURL }}</a>
	</p>
	
</div>
<br>
<div class="col-auto" innerHTML="{{description}}"></div>
<br>

<hr>